html, body {
    font-family: "Montserrat", Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

/**********************
        HEADER
***********************/

#banner{
    flex-direction: row;
    display: flex;
    align-items: center;
    height: 40px;
}

#bannerLeft{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    color: #2a2d7c;
    font-size: 8px;
}

#bannerLeft p{
    font-size: 8px;
    color: #c9523d;
    padding-left: 2px;
    padding-right: 2px;
}

#bannerRight{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
}

.dummyButton{
    color: #000000;
    padding: 10px;
    font-size: 10px;
    cursor: pointer;
}

@media screen and (max-width: 600px){
    #banner{
        display: flex;
        flex-direction: column;
        height: 40px;
    }
    #bannerLeft, #bannerRight{
        display: flex;
        height: 50%;
        width: 100%;
        padding: 0px;
        justify-content: center;
    }
    .dummyButton{
        padding: 20px;
    }
}

/**********************
        COUNTER
***********************/

#counter{
    display: flex;
    width: 100%;
    font-size: 40px;
    font-weight: 400;
    font-family: "Open Sans", Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    height: 100px;
}

@media screen and (max-width: 600px) {
    #counter{
        font-size: 20px;
        height: 80px;
    }
}

/**********************
        MAIN BODY
***********************/

#MainBody{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    height: auto;
    font-family: "Open Sans", Helvetica, sans-serif;
}

#MainBodyFirstLayer{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 80px;
}

#MainBodyFirstLayer h1{
    font-size: 17px;
    padding-bottom: 13px;
}

#MainBodyFirstLayer h3{
    font-size: 13px;
}

#MainBodySecondLayer{
    display: flex;
    height: 100%;
    width: auto;
    padding-left: 150px;
    padding-right: 150px;
}

#Art{
    position: relative;
}

.slides{
    position: relative;
    display: none;
    text-align: center;
    animation-name: slideTransition;
    animation-duration: 1.5s;
}

img{
    width: 100%;
}
  
@keyframes slideTransition {
    from {opacity: 50%} 
    to {opacity: 100%}
}

#leftArrow{
    cursor: pointer;
    position: absolute;
    color: white;
    top: 50%;
    left: 0%;
    transform: scaleY(2);
    font-size: 1.5vw;
    font-weight: 500;
    transition: 0.6s ease;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

#rightArrow{
    cursor: pointer;
    position: absolute;
    color: white;
    top: 50%;
    right: 0%;
    transform: scaleY(2);
    font-size: 1.5vw;
    font-weight: 500;
    transition: 0.5s ease;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px 0 0 3px;
    user-select: none;
}

#leftArrow:hover, #rightArrow:hover{
    background-color: rgba(0,0,0,0.8);
}

.pageIndex{
    position: absolute;
    color: #f2f2f2;
    top: 4%;
    left: 2%;
    font-size: 1.2vw;
    font-weight: 300;
}

.artCaption{
    display: flex;
    position: absolute;
    color: #f2f2f2;
    bottom: 3%;
    font-size: 1.2vw;
    font-weight: 500;
    opacity: 80%;
    width: 100%;
    justify-content: center;
}

#MainBodyButtonLayer{
    display: flex;
    height: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.circleButtons{
    cursor: pointer;
    padding-right: 2px;
    font-size: 2.5vw;
    transition: 0.5s ease;
    user-select: none;
}

.circleButtons:hover{
    animation-name: hovering;
    animation-duration: 1000s;
}

@keyframes hovering{
    from {color: #636363}
    to {color: darkgray}
}

#MainBodyThirdLayer{
    display: flex;
    flex-direction: column;
    height: 150px;
    width: auto;
    font-size: 1.1vw;
    font-weight: 100;
    padding-left: 163px;
    padding-right: 163px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#MainBodyThirdLayer h6{
    padding-bottom: 5px;
    line-height: 16px;
}

@media screen and (max-width: 600px) {
    #MainBody{
        height: auto;
    }
    #MainBodyFirstLayer{
        width: 60%;
        height: 60px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #MainBodyFirstLayer h1{
        font-size: 16px;
        padding-bottom: 4px;
    }
    #MainBodyFirstLayer h3{
        font-size: 11px;
    }
    #MainBodySecondLayer{
        height: auto;
        padding: 0;
    }
    .artCaption{
        font-size: 2vw;
    }
    .pageIndex{
        font-size: 1.4vw;
    }
    .circleButtons{
        font-size: 4vw;
    }
    .slides{
        padding-left: 0px;
        padding-right: 0px;
    }
    #MainBodyButtonLayer{
        height: 20px;
    }
    #MainBodyThirdLayer{
        width: 100%;
        height: 150px;
        font-size: 7px;
        justify-content: center;
    }
    #MainBodyThirdLayer h6, p{
        padding: 5px;
    }
}

/**********************
        FOOTER
***********************/

#stickyFooter{
    display: flex;
    background-color: #c6d2da;
    height: 75px;
    width: auto;
}

#footerFirstLayer{
    display: flex;
    flex-direction: row;
    font-size: 8px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 600;
    height: 20%;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 12px;
    justify-content: center;
}

#footerFirstLayerSection1{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
}

#footerFirstLayerSection1 p{
    font-size: 7px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 200;
    padding-top: 8px;
}

#footerFirstLayerSection2{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
}

#footerFirstLayerSection2 ul{
    font-size: 7px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 200;
    padding-top: 8px;
    line-height: 11px;
}

#footerFirstLayerSection3{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#footerFirstLayerSection3 p{
    font-size: 7px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 200;
    padding-top: 8px;
}

@media screen and (max-width: 600px) {
    #stickyFooter{
        height: 180px;
        justify-content: center;
    }
    #footerFirstLayer{
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
        width: 100%;
    }
    #footerFirstLayerSection1{
        display: flex;
        flex-direction: column;
        height: 30%;
        width: 100%;
    }
    #footerFirstLayerSection1 p{
        padding-top: 4px;
        padding-left: 0px;
    }
    #footerFirstLayerSection2{
        display: flex;
        flex-direction: column;
        height: 40%;
        width: 100%;
    }
    #footerFirstLayerSection2 ul{
        padding-top: 4px;
        padding-left: 0px;
        line-height: 10px;
    }
    #footerFirstLayerSection3{
        display: flex;
        flex-direction: column;
        height: 30%;
        width: 100%;
    }
    #footerFirstLayerSection3 p{
        padding-top: 4px;
        padding-left: 0px;
    }
}


