body {
    font-family: "Montserrat", Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/**********************
        HEADER
***********************/

.banner{
    flex-direction: row;
    display: flex;
    background-color: #f2f2f2;
    height: 5%;
    justify-content: center;
    align-items: center;
}

.bannerLeft{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
}

.bannerRight{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
}

.dummyButton{
    color: #000000;
    padding: 10px;
    font-size: 10px;
}

.blueBannerText{
    color: #2a2d7c;
    font-size: 8px;
}

.redBannerText{
    font-size: 8px;
    padding: 3px;
    color: #c9523d;
}

/**********************
        COUNTER
***********************/

.counter{
    display: flex;
    height: 15%;
    width: 100%;
    font-size: 40px;
    font-weight: 400;
    font-family: "Open Sans", Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
}

/**********************
        MAIN BODY
***********************/

.MainBody{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    height: 70%;
    font-family: "Open Sans", Helvetica, sans-serif;
}

.MainBodyFirstLayer{
    display: flex;
    flex-direction: column;
    height: 15%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.MainBodyFirstLayer h1{
    font-size: 17px;
    padding-bottom: 13px;
}

.MainBodyFirstLayer h3{
    font-size: 13px;
}

.MainBodySecondLayer{
    display: flex;
    height: 55%;
    width: 56%;
}

.MainBodySecondLayerArt{
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
}

.leftArrow{
    position: absolute;
    color: green;
    top: 50%;
    left: 2%;
    transform: scaleY(2);
    font-size: 10px;
    font-weight: 500;
}

.rightArrow{
    position: absolute;
    color: green;
    top: 50%;
    right: 2%;
    transform: scaleY(2);
    font-size: 10px;
    font-weight: 500;
}

.Art{
    display: flex;
    height: 100%;
    width: 100%;
}
img{
    max-width: 100%;
    object-fit: contain;
}

.MainBodyButtonLayer{
    display: flex;
    height: 5%;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}

.button1{
    padding-right: 2px;
    font-size: 20px;
    opacity: 60%;
}

.button2{
    padding-right: 2px;
    font-size: 20px;
    opacity: 30%;
}

.button3{
    padding-right: 2px;
    font-size: 20px;
    opacity: 30%;
}

.button4{
    font-size: 20px;
    opacity: 30%;
}

.MainBodyThirdLayer{
    display: flex;
    flex-direction: column;
    height: 25%;
    width: 390px;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    font-weight: 100;
}

.MainBodyThirdLayer h6{
    padding-bottom: 5px;
    line-height: 11px;
}

.MainBodyThirdLayer p{
    display: flex;
    width: 100%;
}


/**********************
        FOOTER
***********************/

.stickyFooter{
    display:flex;
    flex-direction: column;
    background-color: #c6d2da;
    flex-shrink: 0;
    height: 10%;
    width: 100%;
}

.footerFirstLayer{
    display: flex;
    flex-direction: row;
    font-size: 8px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 600;
    height: 20%;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 12px;
    justify-content: center;
}

#footerFirstLayerSection1{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 110px;
}

#footerFirstLayerSection1 p{
    font-size: 7px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 200;
    padding-top: 8px;
}

#footerFirstLayerSection2{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 180px;
}

#footerFirstLayerSection2 ul{
    font-size: 7px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 200;
    padding-top: 8px;
    line-height: 11px;
}

#footerFirstLayerSection3{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 440px;
}

#footerFirstLayerSection3 p{
    font-size: 7px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 200;
    padding-top: 8px;
}



